@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('~assets/fonts/Montserrat/Montserrat-thin.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('~assets/fonts/Montserrat/Montserrat-thinitalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url('~assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url('~assets/fonts/Montserrat/Montserrat-ExtraLightitalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('~assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('~assets/fonts/Montserrat/Montserrat-Lightitalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('~assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('~assets/fonts/Montserrat/Montserrat-italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('~assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('~assets/fonts/Montserrat/Montserrat-Mediumitalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('~assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('~assets/fonts/Montserrat/Montserrat-SemiBolditalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('~assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('~assets/fonts/Montserrat/Montserrat-Bolditalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('~assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('~assets/fonts/Montserrat/Montserrat-ExtraBolditalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('~assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('~assets/fonts/Montserrat/Montserrat-Blackitalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}