@use '~assets/styles/tools/mixins' as *;

* {
  box-sizing: border-box;
}

body,
html {
  min-width: 360px;
  overflow-x: hidden;
}

body {
  cursor: default;
  font-size: 14px;
  font-weight: 300;
  min-height: 100vh;
  color: var(--a-color_text);
  font-family: 'Montserrat', serif;
  background: var(--a-color_bg--secondary);
}

section{
  padding-top: 50px;
}

button{
  text-decoration: none;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 79.75rem;
  --layout-h-padding: 1.875rem;
}

@media screen and (max-width: 991px) {
  :root {
    --layout-h-padding: 1rem;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--layout-width);
  padding: 0 15px;
}

.ht-popup-open {
  overflow: hidden !important;
}

.bg__white {
  background: #fff;
  padding-top: 60px;
  @media screen and (min-width: 991px) {
    padding-top: 40px;
  }
}

.p-index-docs{
  padding-top: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    .container {
      width: 100%;
      margin: 0 auto;
      max-width: var(--layout-width);
      padding: 0;
    }
  }
}

.p-index {
  padding-top: 70px;
}

a,p{
  line-height: 120%;
}

.h1--title{
  font-size: 30px;
  line-height: 150%;
  font-weight: 500;
}

.h2--title{
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.btn{
  font-size: 20px;
  background: #EDF0F8;
  border-radius: 10px;
  padding: 20px 30px;
}