.s-main{
    // padding-top: 73px;
    background: #305987;
    color: #fff;
    &__content{
        padding-bottom: 110px;
        &-title{
            margin-bottom: 17px;
        }
        &-prefix{
            max-width: 250px;
            margin-bottom: 37px;
            opacity: 0.8;
        }
        &-btn{
            max-width: 220px;
            
        }
    }
}