<template>
    <section class="s-main">
        <div class="container">
            <div class="s-main__content">
                <h1 class="s-main__content-title h1--title">
                    Ковалёв Пётр Евгеньевич
                </h1>
                <p class="s-main__content-prefix">
                    Адвокат по уголовным и гражданским делам
                </p>
                <button class="s-main__content-btn btn">
                    Получить консультацию
                </button>
            </div>
        </div>
    </section>
</template>

<script>
import './S-Main.scss'

export default {
    name: 'SMain',
    data() {
        return {
        }
    },
    methods: {
    },
}
</script>
