<template>
  <div v-if="loading" class="s-loader">
    <img src="favicon.ico" class="s-loader__logo" >
    <div class="s-loader__text">Пожалуйста подождите</div>
  </div>
</template>

<script>
import './s-loader.scss'

export default {
  name: 'SLoader',
  data () {
    return {
      loading: true
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
  },
  methods: {
    start () {
      const htmlWrapper = document.querySelector('html')
      htmlWrapper.style.overflowY = 'hidden'

      this.loading = true
    },
    finish () {
      setTimeout(() => {
        const htmlWrapper = document.querySelector('html')
        htmlWrapper.style.overflowY = 'visible'
        this.loading = false
      }, 500)
    }
  },
}
</script>
