<template>
    <header class="s-header">
        <div class="container">
            <div class="s-header__content">
                <div class="s-header__logo">
                    <img src="/img/S-Header/mobile-logo.svg">
                </div>
                <div class="s-header__group" :class="[activHeader ? 'active-group' : '']">
                    <span class="material-symbols-outlined" @click="addActivHeader">
                        close
                    </span>
                    <div class="s-header__group-link">
                        <img src="/img/S-Header/mobile-link.svg">
                    </div>
                    <a class="s-header__group-link">
                        Услуги
                    </a>
                    <a class="s-header__group-link">
                        Обо мне
                    </a>
                    <a class="s-header__group-link">
                        Контакты
                    </a>
                    <a class="s-header__group-link s-header__mobile">
                        Телефон
                    </a>
                </div>
                <div class="s-header__burger" :class="[activHeader ? 'active-burger' : '']" @click="addActivHeader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import './s-header.scss'

export default {
    name: 'SHeader',
    data() {
        return {
            activHeader: false
        }
    },
    methods: {
        addActivHeader() {
            this.activHeader =! this.activHeader
        },
    },
}
</script>
