.s-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
    background-color: #305987;
    padding: 20px 0;
    &__content{
        // position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    &__group{
        position: absolute;
        top: -1000vw;
        left: 0px;
        height: 0vw;

        opacity: 0;
        
        width: 100%;

        display: flex;
        flex-direction: column;
        
        background-color: #305987;
        z-index: 1000;
        padding: 0 16px;
        border-radius: 0 0 16px 16px;
        transition: 0.6s;
        &-link{
            color: #fff;
            font-weight: 200;
            font-size: 24px;
            
            padding: 40px 0;
        }
            .material-symbols-outlined {
            position: absolute;
            right: 20px;
            top: 20px;
            opacity: 0;
            transition: 2s;
            font-size: 50px;
            cursor: pointer;
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
    }
    &__burger{
        display: flex;
        height: 33px;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        span{
            display: block;
            width: 50px;
            background: #fff;
            border: 1px solid #EDF0F8;
            transition: .3s;
        }
    }

    .active-group{
        top: 0;
        left: 0px;
        height: 200vw;
        opacity: 1;
        .material-symbols-outlined {
            opacity: 1;
        }
    }

    .active-burger{
        span{
            &:last-child{
                transform: translate(0px,-750%) rotate(45deg);
            }
            &:first-child{
                transform: translate(0px,750%) rotate(-45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
        }
    }
}