<template>
    <section class="s-help">
        <div class="container">
            <div class="s-help__content">
                <h2 class="s-help__content-title h2--title">
                    По каким делам я могу помочь
                </h2>
                <h3 class="s-help__content-subtitle h3--title">
                    Моя специализация
                </h3>
                <p class="s-help__content-text">
                    Я специализируюсь на защите прав и свобод граждан в уголовном процессе по различным составам преступления как со стороны
                    подозреваемых и обвиняемых, так и со стороны потерпевших и свидетелей.
                </p>
                <p class="s-help__content-text">
                    Опыт, приобретённый во время службы в следственных органах, а также работа в адвокатуре позволяют оперативно
                    и своевременно ориентироваться в конкретных обстоятельствах дела, принимать взвешенные решения, кроме того,
                    квалифицированно и профессионально оказывать юридическую помощь моим доверителям по различным составам преступлений.
                </p>
            </div>
        </div>
    </section>
</template>

<script>
import './S-Help.scss'

export default {
    name: 'SHelp',
    data() {
        return {
        }
    },
    methods: {
    },
}
</script>